<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:21:49</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AddTest.beforeTest()[pri:0, instance:test.AddTest@1da2cb77]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:02</td>   <td>13463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:06</td>   <td>17028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:07</td>   <td>18189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:09</td>   <td>20145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:10</td>   <td>20972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:12</td>   <td>22834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:12</td>   <td>23610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:14</td>   <td>25366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:15</td>   <td>26213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:17</td>   <td>27922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:17</td>   <td>28710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:19</td>   <td>30371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:20</td>   <td>31161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:22</td>   <td>32925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:23</td>   <td>33730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:24</td>   <td>35595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:27</td>   <td>38320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:29</td>   <td>40093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:30</td>   <td>41532</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:34</td>   <td>44770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:35</td>   <td>46422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:38</td>   <td>49130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:40</td>   <td>51053</td> <td>&nbsp;</td><td title="&lt;&lt;AddTest.afterTest()[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
</table>
