<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:09</td>   <td>3117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:12</td>   <td>5806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:14</td>   <td>8338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:17</td>   <td>10894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:19</td>   <td>13343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:22</td>   <td>15897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:24</td>   <td>18567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:29</td>   <td>23065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:34</td>   <td>27742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:38</td>   <td>32102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddTest.afterMethod(org.testng.ITestResult)[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:40</td>   <td>34025</td> <td>&nbsp;</td><td title="&lt;&lt;AddTest.afterTest()[pri:0, instance:test.AddTest@1da2cb77]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:21:49</td>   <td>-17028</td> <td>&nbsp;</td><td title="&gt;&gt;AddTest.beforeTest()[pri:0, instance:test.AddTest@1da2cb77]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:02</td>   <td>-3565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:07</td>   <td>1161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:10</td>   <td>3944</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:12</td>   <td>6582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:15</td>   <td>9185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:17</td>   <td>11682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:20</td>   <td>14133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:23</td>   <td>16702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:27</td>   <td>21292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:30</td>   <td>24504</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
<tr bgcolor="b36d9e">  <td>21/01/28 00:22:35</td>   <td>29394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddTest.test([Ljava.lang.Object;)[pri:0, instance:test.AddTest@1da2cb77]">test</td> 
  <td>main@670663110</td>   <td></td> </tr>
</table>
